<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View and add reviews</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    {%load static%}
    <link rel="stylesheet" href="{% static 'belt_rev/style.css' %}">
</head>

<body>
    <div class="container my-3">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Welcome, {{request.session.name}}!</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/books/add">Add Book and Review</a>
                    </li>
                    <li class="active">
                        <a href="/logout">Logout</a>

                    </li>
                </ul>
            </div>
        </nav>
        <div class="msg">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% endfor %} {% endif %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8" style="background-color:rgb(226, 226, 214);">
                    <h4>Recent Book Reviews : </h4>
                    {% if recent_reviews %} {% for review in recent_reviews %}
                    <a href="/books/{{review.reviewed_book.id}}">
                        <span>{{review.reviewed_book.title}}</span>
                    </a>
                    <p>Rating {{review.stars}}</p>
                    <p>
                        <a href="/users/{{review.rater.id}}">
                            <span>{{review.rater.alias}}</span>
                        </a> says: {{review.review}}</p>
                    <p>Posted on {{review.created_at}}</p><br>
                    {% endfor %} {% endif %}
                </div>
                <div class="col-sm-4" style="background-color:rgb(228, 192, 209);">
                    <h4>Other Books with Reviews : </h4>
                    <div class="right">
                        {% if reviews %} {% for review in reviews %}
                        <a href="/books/{{review.reviewed_book.id}}">
                            <span>{{review.reviewed_book.title}}</span>
                        </a>
                        <br> {% endfor %} {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>