<!doctype html>
<html lang="en">

<head>
    <title>Welcome !</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous"> 
        {%load static%}
    <link rel="stylesheet" href="{% static "belt_rev/style.css"%}">
</head>

<body>
    <div class="container heading">
        <h2>Login and Registration</h2>
    </div>

    <div class="container my-3 main">
        <div class="row ">
            <div class="msg">
                {% if messages %} {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>

                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endif %} {% endfor %} {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div class="register">
                    <form action="/register" method="post">
                        <h3> Registration </h3>
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="name" style="text-align:right">Name:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" placeholder="Enter Full Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="name" style="text-align:right">Alias:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="alias" placeholder="Enter Alias Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="pwd" style="text-align:right">Email:</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" placeholder="Please enter email here">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="pwd" style="text-align:right">Password:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="pwd" placeholder="Please enter password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="pwd" style="text-align:right">Confirm pswd:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="cpwd" placeholder="Please confirm your password">
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-danger">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="login">
                    <form action="/login" method="post">
                        <h3> Login </h3>
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="name">Email:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="username" placeholder="Enter Username/Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3" for="pwd">Password:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="pwd" placeholder="Please enter password">
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-danger">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>