.heading{
    text-align: center;
    background-color: rgba(143, 143, 148, 0.972);
    padding: 20px;
}
.main{
    background: linear-gradient(gray, white);
}
.container{
    margin: 0 auto;
}
.register{
    display: inline-block;
    margin: 5px;
    width: 500px;
}
.login{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    width: 300px;
}

.right{
    width: 350px;
    height: 250px;
    margin: 0;
}
span{
    text-decoration-line: underline;
    color: blue;
}
hr{
    border: 1px solid black;
}
.books{
    background: linear-gradient(gray, white);
}

.content{
    background: linear-gradient(gray, white);
    padding: 10px;
}

#title{
    color: black;
}

.profile{
    background: linear-gradient(gray,white );
    padding: 10px;
}
