h1{
    text-align: center;
    background-color: rgba(223, 223, 233, 0.801);
    padding: 10px;
}
.container{
    margin: 0 auto;
    /* max-width: 700px; */
}
.register{
    display: inline-block;
    margin: 5px;
    width: 400px;
}
.login{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    width: 300px;
}

.right{
    width: 350px;
    height: 250px;
    overflow: scroll;
    margin: 0;
}
span{
    text-decoration-line: underline;
    color: blue;
}
hr{
    border: 1px solid black;
}